.ml-content-container { margin: 6em auto; }
.ml-content-containerr h1 { color: #ffcf22; }
.ml-content-container hr {
    border-top: 1px solid #aaaaaa!important;
    margin-top: 2em;
}
.ml-content-inner { margin: 2em 0; }
.login-container {
  width: 100%;
  height: auto;
  margin: 10rem auto 0 auto;
}
.login-container img {
  margin: 1em;
  display: inline-block;
}
.login-inner {
  width: 390px;
  margin: 0 auto;
  padding: 1em 2em;
  background: #ffffff;
  border-bottom: 3px solid #7d7d7d;
  -webkit-box-shadow: 0 27px 24px rgba(0,0,0,0.02), 0 40px 77px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 27px 24px rgba(0,0,0,0.02), 0 40px 77px rgba(0,0,0,0.12);
  -ms-box-shadow: 0 27px 24px rgba(0,0,0,0.02), 0 40px 77px rgba(0,0,0,0.12);
  -o-box-shadow: 0 27px 24px rgba(0,0,0,0.02), 0 40px 77px rgba(0,0,0,0.12);
  box-shadow: 0 27px 24px rgba(0,0,0,0.02), 0 40px 77px rgba(0,0,0,0.12);
}
.login-inner h3{
  font-size: 20px!important;
  text-align: center;
  color: #313131;
}
.login-inner .app-btn {
  width: 100%!important;
  margin: 2rem auto;
}
.alert-box {
  color: #555;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.alert-box .mdi {
  font-size: 1.85em;
  margin-right: 5px;
  vertical-align: sub;
}
.error {
  background: #ffecec;
  color: #d31245;
}
.success {
  background: #e9ffd9;
  color: #00aa7e;
}
@media (max-width: 450px) {
  .login-inner {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width:991px) {
    .ml-content-container { margin: 5em auto; } 
}

/*---- End of Login ----*/
